In [1]:
import pandas as pd

In [24]:
# 데이터 불러오기
path = 'C:/Users/admin/Desktop/미니 프로젝트 1/전입전출인구.csv'
df = pd.read_csv(path)
df

,행정구역(시군구)별,연령별,항목,단위,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년,Unnamed: 14
0,전국,계,총전입[명],명,7506691,7411784,7629098,7755286,7378430,7154226,7297099,7104398,7735491,7213422,NaN
1,전국,계,총전출[명],명,7506691,7411784,7629098,7755286,7378430,7154226,7297099,7104398,7735491,7213422,NaN
2,전국,계,순이동[명],명,0,0,0,0,0,0,0,0,0,0,NaN
3,전국,계,시도내이동-시군구내[명],명,2827998,2864028,2957867,3014020,2840295,2701400,2776681,2659826,2926406,2649108,NaN
4,전국,계,시도내이동-시군구간 전입[명],명,2165953,2124327,2163435,2189842,2084793,2041896,2091234,2059624,2274971,2117080,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2587,제주특별자치도,80세이상,시도내이동-시군구내[명],명,570,742,715,754,889,817,906,741,792,816,NaN
2588,제주특별자치도,80세이상,시도내이동-시군구간 전입[명],명,118,126,130,142,152,134,138,151,130,158,NaN
2589,제주특별자치도,80세이상,시도내이동-시군구간 전출[명],명,118,126,130,142,152,134,138,151,130,158,NaN
2590,제주특별자치도,80세이상,시도간전입[명],명,222,238,264,342,278,299,328,275,321,362,NaN
2591,제주특별자치도,80세이상,시도간전출[명],명,201,210,219,234,255,268,287,302,330,328,NaN

In [25]:
# 이상한 컬럼 제거
df = df.drop(['Unnamed: 14', '단위'], axis = 1)
df

,행정구역(시군구)별,연령별,항목,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년
0,전국,계,총전입[명],7506691,7411784,7629098,7755286,7378430,7154226,7297099,7104398,7735491,7213422
1,전국,계,총전출[명],7506691,7411784,7629098,7755286,7378430,7154226,7297099,7104398,7735491,7213422
2,전국,계,순이동[명],0,0,0,0,0,0,0,0,0,0
3,전국,계,시도내이동-시군구내[명],2827998,2864028,2957867,3014020,2840295,2701400,2776681,2659826,2926406,2649108
4,전국,계,시도내이동-시군구간 전입[명],2165953,2124327,2163435,2189842,2084793,2041896,2091234,2059624,2274971,2117080
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2587,제주특별자치도,80세이상,시도내이동-시군구내[명],570,742,715,754,889,817,906,741,792,816
2588,제주특별자치도,80세이상,시도내이동-시군구간 전입[명],118,126,130,142,152,134,138,151,130,158
2589,제주특별자치도,80세이상,시도내이동-시군구간 전출[명],118,126,130,142,152,134,138,151,130,158
2590,제주특별자치도,80세이상,시도간전입[명],222,238,264,342,278,299,328,275,321,362
2591,제주특별자치도,80세이상,시도간전출[명],201,210,219,234,255,268,287,302,330,328

In [26]:
# 전국이라는 값을 가진 행은 필요없음
df = df[(df['행정구역(시군구)별'] != '전국')]
df

,행정구역(시군구)별,연령별,항목,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년
144,서울특별시,계,총전입[명],1555281,1520090,1573594,1589431,1515602,1472937,1439707,1426493,1578127,1418187
145,서울특별시,계,총전출[명],1658928,1620640,1661425,1726687,1655859,1571423,1549937,1476081,1642977,1524430
146,서울특별시,계,순이동[명],-103647,-100550,-87831,-137256,-140257,-98486,-110230,-49588,-64850,-106243
147,서울특별시,계,시도내이동-시군구내[명],473458,468394,495401,524267,487722,454536,430780,406796,444682,387416
148,서울특별시,계,시도내이동-시군구간 전입[명],595842,584614,602622,605262,574193,564271,548796,543831,623431,569648
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2587,제주특별자치도,80세이상,시도내이동-시군구내[명],570,742,715,754,889,817,906,741,792,816
2588,제주특별자치도,80세이상,시도내이동-시군구간 전입[명],118,126,130,142,152,134,138,151,130,158
2589,제주특별자치도,80세이상,시도내이동-시군구간 전출[명],118,126,130,142,152,134,138,151,130,158
2590,제주특별자치도,80세이상,시도간전입[명],222,238,264,342,278,299,328,275,321,362
2591,제주특별자치도,80세이상,시도간전출[명],201,210,219,234,255,268,287,302,330,328

In [31]:
# 청년층 인구만 씀
df = df[(df['연령별'] == '20 - 24세') | (df['연령별'] == '25 - 29세') | (df['연령별'] == '30 - 34세')]
df

,행정구역(시군구)별,연령별,항목,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년
184,서울특별시,20 - 24세,총전입[명],127431,126498,137120,145448,146016,144975,145750,148841,164159,155569
185,서울특별시,20 - 24세,총전출[명],111385,110866,118784,130777,128436,123801,121769,120321,136324,130234
186,서울특별시,20 - 24세,순이동[명],16046,15632,18336,14671,17580,21174,23981,28520,27835,25335
187,서울특별시,20 - 24세,시도내이동-시군구내[명],29827,29974,33278,36733,34578,32382,30381,28699,31624,27917
188,서울특별시,20 - 24세,시도내이동-시군구간 전입[명],38138,38352,41354,44795,43381,43824,43244,43457,50446,48202
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507,제주특별자치도,30 - 34세,시도내이동-시군구내[명],5343,6172,5859,5584,6027,5319,5233,4765,4926,4661
2508,제주특별자치도,30 - 34세,시도내이동-시군구간 전입[명],1048,1005,1082,1079,1126,1101,990,952,972,953
2509,제주특별자치도,30 - 34세,시도내이동-시군구간 전출[명],1048,1005,1082,1079,1126,1101,990,952,972,953
2510,제주특별자치도,30 - 34세,시도간전입[명],3284,3545,4299,4484,4430,4321,3924,3257,3435,3415
2511,제주특별자치도,30 - 34세,시도간전출[명],2426,2504,2410,2765,2609,2694,2761,2736,2815,2739

In [35]:
# 순이동(전입- 전출)인 행만 사용
df = df[(df['항목'] == '순이동[명]')]
df

,행정구역(시군구)별,연령별,항목,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년
186,서울특별시,20 - 24세,순이동[명],16046,15632,18336,14671,17580,21174,23981,28520,27835,25335
194,서울특별시,25 - 29세,순이동[명],5761,5347,7964,3119,4983,10781,15360,19046,16988,10185
202,서울특별시,30 - 34세,순이동[명],-23104,-23948,-21747,-25500,-23804,-16522,-17049,-10863,-10794,-20099
330,부산광역시,20 - 24세,순이동[명],-1280,-829,-746,-305,-921,-834,-234,664,1217,892
338,부산광역시,25 - 29세,순이동[명],-7398,-6039,-5428,-4571,-4930,-4808,-6518,-6415,-5115,-5680
346,부산광역시,30 - 34세,순이동[명],-4353,-3842,-2613,-2285,-2669,-3863,-4154,-3888,-1741,-1876
474,대구광역시,20 - 24세,순이동[명],-2486,-3122,-3095,-2836,-2177,-2393,-2641,-3749,-1225,-3816
482,대구광역시,25 - 29세,순이동[명],-4501,-3892,-4056,-3215,-2636,-2594,-3399,-5503,-3985,-5208
490,대구광역시,30 - 34세,순이동[명],-1181,-1019,-1620,-906,-448,-684,-414,-1907,-1676,-1793
618,인천광역시,20 - 24세,순이동[명],2236,1918,1002,912,1579,1120,1422,1584,-253,519
626,인천광역시,25 - 29세,순이동[명],3072,2330,752,228,495,238,208,-338,-2319,587
634,인천광역시,30 - 34세,순이동[명],4902,4385,1898,1716,1031,-107,97,-761,-2372,1769
762,광주광역시,20 - 24세,순이동[명],-1446,-1511,-1747,-2682,-1977,-2303,-1704,-1537,-1259,-1335
770,광주광역시,25 - 29세,순이동[명],-1516,-1212,-1746,-2083,-1394,-1795,-1657,-1051,-1420,-1309
778,광주광역시,30 - 34세,순이동[명],-328,-97,-133,-1110,-939,-717,-372,-232,-350,52
906,대전광역시,20 - 24세,순이동[명],31,139,-838,-1204,-452,-587,-201,-325,340,936
914,대전광역시,25 - 29세,순이동[명],-624,-738,-830,-1264,-498,-1097,-1444,-1653,-981,-634
922,대전광역시,30 - 34세,순이동[명],545,523,-732,-2199,-694,-1644,-1932,-2205,-1133,-494
1050,울산광역시,20 - 24세,순이동[명],-990,-968,-829,-1224,-1845,-2468,-2837,-3073,-3526,-3008
1058,울산광역시,25 - 29세,순이동[명],1639,1261,961,767,-692,-1942,-2294,-1594,-1945,-1830
1066,울산광역시,30 - 34세,순이동[명],2035,1563,1565,1026,-274,-851,-955,-567,-894,-978
1194,세종특별자치시,20 - 24세,순이동[명],682,505,1627,2548,1679,1900,1851,954,334,636
1202,세종특별자치시,25 - 29세,순이동[명],929,706,2118,3389,2480,2568,2927,2302,1637,1997
1210,세종특별자치시,30 - 34세,순이동[명],1943,1015,4436,6560,3802,4179,3819,3326,1787,2073
1338,경기도,20 - 24세,순이동[명],8597,6453,5358,7658,10920,7281,8802,11541,19376,16153
1346,경기도,25 - 29세,순이동[명],15451,12976,11103,12969,15566,13275,16593,15240,19815,17432
1354,경기도,30 - 34세,순이동[명],17176,17673,14764,17556,20843,18145,24365,20008,22443,23211
1482,강원도,20 - 24세,순이동[명],-1549,-1072,-1547,-419,-2741,-1849,-3381,-2805,-3006,-2939
1490,강원도,25 - 29세,순이동[명],-3113,-2398,-2539,-2012,-2683,-2599,-3859,-2846,-1823,-1635
1498,강원도,30 - 34세,순이동[명],-300,-75,-205,185,193,-89,-737,76,383,261
1626,충청북도,20 - 24세,순이동[명],-1111,-976,-705,-831,-1430,-1340,-1462,-1985,-2636,-2537
1634,충청북도,25 - 29세,순이동[명],-846,-915,-876,-375,-707,-877,-187,-806,-205,-53
1642,충청북도,30 - 34세,순이동[명],618,308,82,-182,305,-156,419,27,110,148
1770,충청남도,20 - 24세,순이동[명],-1105,-1021,-1096,-980,-1216,-1094,-1772,-3176,-4226,-3291
1778,충청남도,25 - 29세,순이동[명],1473,1622,1249,1220,974,1398,313,-830,-492,211
1786,충청남도,30 - 34세,순이동[명],1880,2133,1567,974,1583,2245,896,99,-184,288
1914,전라북도,20 - 24세,순이동[명],-3615,-2915,-3378,-3142,-3707,-3413,-5024,-5372,-5078,-4368
1922,전라북도,25 - 29세,순이동[명],-3639,-3511,-3355,-3032,-3243,-3643,-4446,-4317,-3794,-2898
1930,전라북도,30 - 34세,순이동[명],-408,-687,-769,-561,-696,-1251,-1814,-1465,-1142,-635
2058,전라남도,20 - 24세,순이동[명],-4306,-4136,-3917,-3670,-5199,-4608,-4781,-5954,-7032,-6238
2066,전라남도,25 - 29세,순이동[명],-2741,-2544,-1951,-1830,-2578,-2540,-3202,-2568,-3962,-3018
2074,전라남도,30 - 34세,순이동[명],-150,4,141,1177,48,-68,-1005,-643,-1065,-725
2202,경상북도,20 - 24세,순이동[명],-4149,-3260,-3870,-3638,-4937,-4455,-4821,-5500,-9181,-5306
2210,경상북도,25 - 29세,순이동[명],-2993,-2900,-3148,-3172,-3663,-3988,-4761,-4422,-6481,-2496
2218,경상북도,30 - 34세,순이동[명],-1220,-946,-668,-367,-967,-1600,-2187,-1473,-2478,-555
2346,경상남도,20 - 24세,순이동[명],-4938,-4562,-4500,-4701,-5219,-6355,-7013,-8921,-10738,-10262
2354,경상남도,25 - 29세,순이동[명],-888,-298,-677,-690,-2071,-3131,-3964,-4082,-5682,-5551
2362,경상남도,30 - 34세,순이동[명],1087,1969,2145,2197,865,1356,-140,-53,-1514,-1323
2490,제주특별자치도,20 - 24세,순이동[명],-617,-275,-55,-157,63,224,-185,-866,-942,-1371
2498,제주특별자치도,25 - 29세,순이동[명],-66,205,459,552,597,754,330,-163,-236,-100
2506,제주특별자치도,30 - 34세,순이동[명],858,1041,1889,1719,1821,1627,1163,521,620,676

In [38]:
# 지역별로 묶은 후 더함
df = df.groupby('행정구역(시군구)별').sum()
df

,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년
행정구역(시군구)별,,,,,,,,,,
강원도,-4962,-3545,-4291,-2246,-5231,-4537,-7977,-5575,-4446,-4313
경기도,41224,37102,31225,38183,47329,38701,49760,46789,61634,56796
경상남도,-4739,-2891,-3032,-3194,-6425,-8130,-11117,-13056,-17934,-17136
경상북도,-8362,-7106,-7686,-7177,-9567,-10043,-11769,-11395,-18140,-8357
광주광역시,-3290,-2820,-3626,-5875,-4310,-4815,-3733,-2820,-3029,-2592
대구광역시,-8168,-8033,-8771,-6957,-5261,-5671,-6454,-11159,-6886,-10817
대전광역시,-48,-76,-2400,-4667,-1644,-3328,-3577,-4183,-1774,-192
부산광역시,-13031,-10710,-8787,-7161,-8520,-9505,-10906,-9639,-5639,-6664
서울특별시,-1297,-2969,4553,-7710,-1241,15433,22292,36703,34029,15421
세종특별자치시,3554,2226,8181,12497,7961,8647,8597,6582,3758,4706
울산광역시,2684,1856,1697,569,-2811,-5261,-6086,-5234,-6365,-5816
인천광역시,10210,8633,3652,2856,3105,1251,1727,485,-4944,2875
전라남도,-7197,-6676,-5727,-4323,-7729,-7216,-8988,-9165,-12059,-9981
전라북도,-7662,-7113,-7502,-6735,-7646,-8307,-11284,-11154,-10014,-7901
제주특별자치도,175,971,2293,2114,2481,2605,1308,-508,-558,-795
충청남도,2248,2734,1720,1214,1341,2549,-563,-3907,-4902,-2792
충청북도,-1339,-1583,-1499,-1388,-1832,-2373,-1230,-2764,-2731,-2442

In [39]:
# 저장
df.to_csv('C:/Users/admin/Desktop/미니 프로젝트 1/전국_순이동인구.csv', index = True)