In [2]:
import pandas as pd

In [3]:
# 데이터 불렁오기
df = pd.read_csv('C:/Users/admin/Desktop/미니 프로젝트 1/활용한 데이터/3_시각화용(전처리 완료)/지역별_데이터_컬럼_수정.csv').drop(['Unnamed: 0'], axis = 1)

In [4]:
# 확인
df

,지역,고령화비율(%),경제활동인구(천명),청년인구,강소기업수,선호_사업군의_사업체_수,매매가_전세가_비율,문화(축제건수+문화시설수),편의시설_평균_접근시간(분),교통문화점수,자연환경(휴양만족점수),대기오염
0,강원,21.9,1688,56404,244,21858,65.5,1643,139.59,79.12,7.55,31068615
1,경기,14.0,14752,579851,5107,139570,64.3,6384,85.36,81.26,7.74,17031459
2,경남,18.6,3634,128482,1071,36450,64.8,2269,116.94,81.91,7.28,10707805
3,경북,22.9,2936,100105,884,30790,62.4,1712,142.23,80.06,8.29,22496356
4,광주,14.9,1558,66496,312,21030,69.8,1279,52.39,83.97,7.78,5225274
5,대구,17.7,2550,104823,675,29698,65.8,758,55.22,81.22,7.85,5270663
6,대전,15.4,1618,64361,429,20780,65.7,799,70.87,83.39,7.80,8932378
7,부산,20.6,3442,146114,872,41224,60.9,1380,60.05,81.99,7.45,2500427
8,서울,17.0,10652,489384,2991,204810,60.3,3720,54.99,81.29,8.08,84050233
9,세종,10.1,385,9617,52,3398,48.0,188,78.58,84.95,7.47,36165196
10,울산,13.9,1143,40190,263,13040,70.1,977,62.78,82.40,7.46,32096166
11,인천,15.0,3294,138568,1003,28838,67.3,807,77.10,82.62,7.48,81840902
12,전남,24.4,2012,71447,420,22322,61.4,1597,167.97,79.49,7.35,42097476
13,전북,22.4,1942,69075,324,22192,66.0,2132,122.70,79.80,7.79,71464132
14,제주,16.5,810,31481,78,9084,58.0,892,123.85,82.58,7.96,107358028
15,충남,20.0,2472,84970,682,24094,66.5,1671,146.28,78.04,7.65,45799289
16,충북,19.1,1837,60164,555,19178,65.9,1036,117.97,79.18,7.45,10027606

In [57]:
df.describe()

,경제활동인구(천명),청년인구,강소기업수,선호_사업군의_사업체_수,매매가_전세가_비율,문화(축제건수+문화시설수),편의시설_평균_접근시간(분),자연환경(휴양만족점수),교통문화점수,고령화비율(%)
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,3336.764706,131854.823529,938.941176,40491.529412,63.688235,1720.235294,98.521765,7.672353,81.368824,17.905882
std,3709.323128,156802.791069,1266.492917,51719.798915,5.170092,1440.863696,37.992313,0.274261,1.889513,3.837719
min,385.000000,9617.000000,52.000000,3398.000000,48.000000,188.000000,52.390000,7.280000,78.040000,10.100000
25%,1618.000000,60164.000000,312.000000,20780.000000,61.400000,892.000000,62.780000,7.460000,79.800000,15.000000
50%,2012.000000,71447.000000,555.000000,22322.000000,65.500000,1380.000000,85.360000,7.650000,81.290000,17.700000
75%,3294.000000,128482.000000,884.000000,30790.000000,66.000000,1712.000000,123.850000,7.800000,82.580000,20.600000
max,14752.000000,579851.000000,5107.000000,204810.000000,70.100000,6384.000000,167.970000,8.290000,84.950000,24.400000