In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/admin/Desktop/미니 프로젝트 1/활용한 데이터/3_시각화용(전처리 완료)/지역별_데이터.csv')

In [4]:
df.columns

Index(['Unnamed: 0', '지역', '청년인구', '초등학교', '중학교', '고등학교', '지수(점)', '등급', '순위',
       '일산화탄소(CO)', '질산화물(NOx)', '황산화물(SOx)', '총먼지(TSP)', '미세먼지(PM10)',
       '미세먼지(PM2.5)', 'Black Carbon(BC)', '휘발성유기화합물(VOC) ', '암모니아(NH₃)',
       '마을축제 건 수', '전통문화축제', '관광축제', '산업축제', '특수목적축제', '문화기반시설 수', '공연사업 수',
       '공연 횟수', '생활문화시설 수', '생활문화센터', '평생 학습관', '문화의집', '생활영상시설', '작은도서관',
       '경제활동인구 (천명)', '- 연령별(15~29세)', '- 연령별(30~39세)', '- 연령별(40~49세)',
       '- 연령별(50~59세)', '- 연령별(60세이상)', '공공의료시설', '병·의원', '종합병원', '공공 체육시설',
       '민간 체육시설', '기타 체육시설', '학교체육시설', '자가시설', '직장체육시설', '전월세전환율(%)', '취업률(%)',
       '대규모점포', '전통시장', '평균 휴양 만족 점수', '건강 증진을 위해', '휴양 및 휴식을 취하기 위해',
       '취미 및 레포츠 활동을 위해', '친목 활동을 위해 ', '질병 치유를 위해', '교육 학습을 위해', '기타',
       '지역별 강소기업 갯수', '지역별 고령화 비율(%)', '버스터미널', '철도역', '공항', '매매가격_대비_전세가격_비율',
       '선호_사업군의_사업체_수'],
      dtype='object')

In [7]:
df_new = pd.DataFrame()

In [8]:
# 지역 컬럼 추가
df_new['지역'] = df['지역']
df_new

    지역
0   강원
1   경기
2   경남
3   경북
4   광주
5   대구
6   대전
7   부산
8   서울
9   세종
10  울산
11  인천
12  전남
13  전북
14  제주
15  충남
16  충북

In [24]:
# 컬럼 통합
df_new['고령화비율(%)'] = df['지역별 고령화 비율(%)']
df_new['경제활동인구(천명)'] = df['경제활동인구 (천명)']
df_new['청년인구'] = df['청년인구']
df_new['강소기업수'] = df['지역별 강소기업 갯수']
df_new['선호_사업군의_사업체_수'] = df['선호_사업군의_사업체_수']
df_new['매매가_전세가_비율'] = df['매매가격_대비_전세가격_비율']
df_new['문화(축제건수+문화시설수)'] = df['마을축제 건 수'] + df['전통문화축제'] + df['관광축제'] +\
                                      df['산업축제'] + df['특수목적축제'] + df['문화기반시설 수'] +\
                                      df['공연사업 수'] + df['공연 횟수'] + df['생활문화시설 수'] +\
                                      df['생활문화센터'] + df['평생 학습관'] +\
                                      df['문화의집'] + df['생활영상시설'] + df['작은도서관']
df_new['편의시설_평균_접근시간(분)'] = round((df['버스터미널'] + df['철도역'] + df['공항'] + df['병·의원'] + df['종합병원'] +\
                                          df['대규모점포'] + df['전통시장'] + df['초등학교'] + df['중학교'] + df['고등학교'] +\
                                          df['공공의료시설']) / 11, 2)
df_new['교통문화점수'] = round(df['지수(점)'], 2)
df_new['자연환경(휴양만족점수)'] = df['평균 휴양 만족 점수']
df_new['대기오염'] = df['총먼지(TSP)']

In [25]:
df_new

,지역,고령화비율(%),경제활동인구(천명),청년인구,강소기업수,선호_사업군의_사업체_수,매매가_전세가_비율,문화(축제건수+문화시설수),편의시설_평균_접근시간(분),교통문화점수,자연환경(휴양만족점수),대기오염
0,강원,21.9,1688,56404,244,21858,65.5,1643,139.59,79.12,7.55,31068615
1,경기,14.0,14752,579851,5107,139570,64.3,6384,85.36,81.26,7.74,17031459
2,경남,18.6,3634,128482,1071,36450,64.8,2269,116.94,81.91,7.28,10707805
3,경북,22.9,2936,100105,884,30790,62.4,1712,142.23,80.06,8.29,22496356
4,광주,14.9,1558,66496,312,21030,69.8,1279,52.39,83.97,7.78,5225274
5,대구,17.7,2550,104823,675,29698,65.8,758,55.22,81.22,7.85,5270663
6,대전,15.4,1618,64361,429,20780,65.7,799,70.87,83.39,7.80,8932378
7,부산,20.6,3442,146114,872,41224,60.9,1380,60.05,81.99,7.45,2500427
8,서울,17.0,10652,489384,2991,204810,60.3,3720,54.99,81.29,8.08,84050233
9,세종,10.1,385,9617,52,3398,48.0,188,78.58,84.95,7.47,36165196
10,울산,13.9,1143,40190,263,13040,70.1,977,62.78,82.40,7.46,32096166
11,인천,15.0,3294,138568,1003,28838,67.3,807,77.10,82.62,7.48,81840902
12,전남,24.4,2012,71447,420,22322,61.4,1597,167.97,79.49,7.35,42097476
13,전북,22.4,1942,69075,324,22192,66.0,2132,122.70,79.80,7.79,71464132
14,제주,16.5,810,31481,78,9084,58.0,892,123.85,82.58,7.96,107358028
15,충남,20.0,2472,84970,682,24094,66.5,1671,146.28,78.04,7.65,45799289
16,충북,19.1,1837,60164,555,19178,65.9,1036,117.97,79.18,7.45,10027606

In [26]:
df_new.to_csv('C:/Users/admin/Desktop/미니 프로젝트 1/활용한 데이터/3_시각화용(전처리 완료)/지역별_데이터_컬럼_수정.csv',
              index = True)