# join한 데이터 나눠보기

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('./Young_pop.csv')
df

,Unnamed: 0,시도명,청년인구,초등학교,중학교,고등학교,지수(점),등급,순위,일산화탄소(CO),...,휴양 및 휴식을 취하기 위해,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타,지역별 강소기업 갯수,지역,지역별 고령화 비율(%),지역별 강소기업 갯수.1
0,0,강원,56404,36.9,56.0,71.4,79.117219,E,16,59091323,...,60.8,2.1,0.8,-,-,1,244,강원도,21.9,244
1,1,경기,579851,19.2,28.5,36.5,81.262092,C,10,26661660,...,21.8,3.1,4,0.1,0.5,-,5107,경기도,14.0,5107
2,2,경남,128482,28.5,43.1,54.0,81.912194,C,8,17213386,...,12.9,7.7,0.9,0.3,-,-,1071,경상남도,18.6,1071
3,3,경북,100105,37.1,56.6,73.5,80.057274,D,12,42473267,...,9.1,1.4,0.8,5.1,0.6,-,884,경상북도,22.9,884
4,4,광주,66496,15.6,21.9,32.5,83.968337,A,2,7955525,...,27.2,-,3.6,-,0.8,-,312,광주광역시,14.9,312
5,5,대구,104823,16.5,23.3,32.6,81.219598,C,11,10659806,...,8.1,-,1.7,-,1.9,-,675,대구광역시,17.7,675
6,6,대전,64361,15.4,21.9,31.4,83.391163,B,3,31399616,...,48.5,5.3,1.3,-,-,-,429,대전광역시,15.4,429
7,7,부산,146114,16.0,23.9,32.6,81.987617,C,7,4956050,...,33.8,3.7,0.3,0.3,-,-,872,부산광역시,20.6,872
8,8,서울,489384,12.1,15.9,20.8,81.292265,C,9,136960058,...,22.5,1.6,2.7,0.4,0.2,-,2991,서울특별시,17.0,2991
9,9,세종,9617,17.4,25.1,34.5,84.951890,A,1,50995652,...,45.5,4.2,-,-,1,-,52,세종특별자치시,10.1,52
10,10,울산,40190,19.2,33.2,43.3,82.404533,B,6,42066531,...,8.9,3.8,-,-,-,-,263,울산광역시,13.9,263
11,11,인천,138568,16.7,26.1,31.1,82.617784,B,4,65226479,...,18.6,4.9,6.7,-,-,2.2,1003,인천광역시,15.0,1003
12,12,전남,71447,48.6,66.7,79.5,79.492157,D,14,46256989,...,30.9,2,2.8,-,-,-,420,전라남도,24.4,420
13,13,전북,69075,30.0,45.4,60.7,79.799290,D,13,64643232,...,16.5,0.4,1,0.7,0.7,-,324,전라북도,22.4,324
14,14,제주,31481,26.9,41.7,62.3,82.580625,B,5,96585111,...,39.0,1.4,1.3,-,-,0.7,78,제주특별자치도,16.5,78
15,15,충남,84970,36.5,60.9,82.9,78.036222,E,17,49198641,...,30.1,5.1,4.6,2.6,0.6,0.6,682,충청남도,20.0,682
16,16,충북,60164,30.9,48.9,66.1,79.179578,D,15,11130074,...,35.6,6.2,2.5,1.2,-,0.7,555,충청북도,19.1,555

## iloc함수를 이용하여 O : O 열에 속하는 모든 행 조회

In [17]:
df.iloc[:, 0:10]

    Unnamed: 0 시도명    청년인구  초등학교   중학교  고등학교      지수(점) 등급  순위  일산화탄소(CO)
0            0  강원   56404  36.9  56.0  71.4  79.117219  E  16   59091323
1            1  경기  579851  19.2  28.5  36.5  81.262092  C  10   26661660
2            2  경남  128482  28.5  43.1  54.0  81.912194  C   8   17213386
3            3  경북  100105  37.1  56.6  73.5  80.057274  D  12   42473267
4            4  광주   66496  15.6  21.9  32.5  83.968337  A   2    7955525
5            5  대구  104823  16.5  23.3  32.6  81.219598  C  11   10659806
6            6  대전   64361  15.4  21.9  31.4  83.391163  B   3   31399616
7            7  부산  146114  16.0  23.9  32.6  81.987617  C   7    4956050
8            8  서울  489384  12.1  15.9  20.8  81.292265  C   9  136960058
9            9  세종    9617  17.4  25.1  34.5  84.951890  A   1   50995652
10          10  울산   40190  19.2  33.2  43.3  82.404533  B   6   42066531
11          11  인천  138568  16.7  26.1  31.1  82.617784  B   4   65226479
12          12  전남   71447  48.6  66.7  79.5  79.492157  D  14   46256989
13          13  전북   69075  30.0  45.4  60.7  79.799290  D  13   64643232
14          14  제주   31481  26.9  41.7  62.3  82.580625  B   5   96585111
15          15  충남   84970  36.5  60.9  82.9  78.036222  E  17   49198641
16          16  충북   60164  30.9  48.9  66.1  79.179578  D  15   11130074

In [18]:
df.iloc[:, 10:20]

,질산화물(NOx),황산화물(SOx),총먼지(TSP),미세먼지(PM10),미세먼지(PM2.5),Black Carbon(BC),휘발성유기화합물(VOC),암모니아(NH₃),마을축제 건 수,전통문화축제
0,88318614,1095384,31068615,15129997,3973381,1498115,72392596,3469369,81,18
1,49950866,7897187,17031459,6885594,2644114,525045,42340472,1619633,97,40
2,26369636,2595203,10707805,3911124,1293610,338163,31875289,1668164,106,35
3,54996410,12165228,22496356,7601495,2701129,607477,55060920,7166199,59,30
4,12270179,172932,5225274,1710002,546285,153216,15721745,967862,16,14
5,16050799,492180,5270663,1908298,653448,219448,16758270,764088,17,5
6,48718539,42794244,8932378,4079779,2274013,298484,91961349,15129468,7,4
7,5260258,79732,2500427,1024217,345444,122819,5961807,2759517,40,17
8,178980916,8859353,84050233,31342317,10487681,3109508,190939659,47387368,108,63
9,79834417,13802481,36165196,9771796,4109457,748947,30262580,14848233,6,2
10,60898861,7222625,32096166,9461854,3591283,852934,43144277,16981034,16,9
11,107613430,69989410,81840902,37203474,18129171,1317944,78132426,53162788,19,7
12,38561770,3760826,42097476,10629234,3562598,773400,69845741,35196862,67,13
13,105268745,58621175,71464132,28206197,13155832,1129608,88957759,43726932,80,21
14,104097649,37717738,107358028,45299533,22006791,2055265,89303873,36543850,22,10
15,73050059,22596196,45799289,11984146,4726004,1031456,89168391,26920346,40,9
16,17284695,1835756,10027606,3495486,1065148,223209,8999552,7655447,34,6

In [19]:
df.iloc[:, 20:30]

,관광축제,산업축제,특수목적축제,문화기반시설 수,공연사업 수,공연 횟수,생활문화시설 수,생활문화센터,평생 학습관,문화의집
0,50,8,5,235,148,782,158,3,8,5
1,49,1,7,569,536,4017,534,8,5,3
2,57,5,9,228,303,1016,255,0,5,9
3,17,10,2,220,208,868,149,1,5,4
4,1,0,1,74,38,305,415,4,8,4
5,10,0,2,92,51,315,133,4,6,0
6,3,0,0,62,67,176,240,2,5,3
7,19,0,4,131,157,834,89,7,2,0
8,27,1,17,429,234,2575,133,0,4,0
9,3,1,0,23,13,22,59,1,1,0
10,7,0,0,47,27,539,166,2,5,4
11,7,2,3,120,80,291,139,5,8,1
12,41,7,6,228,130,755,175,1,2,1
13,35,7,17,180,231,1099,231,6,6,6
14,11,1,0,135,85,220,204,2,3,19
15,25,4,2,176,75,888,226,3,7,2
16,13,11,4,138,109,365,178,2,5,3

In [20]:
df.iloc[:, 40:50]

,종합병원,공공 체육시설,민간 체육시설,기타 체육시설,학교체육시설,자가시설,직장체육시설,전월세전환율(%),취업률(%),대규모점포
0,170.8,34.8,28.0,10.9,4.1,21.7,0.5,6.2,53.5,195.2
1,78.6,38.5,39.6,19.5,1.1,1.4,0.0,4.5,62.8,58.4
2,152.6,45.8,31.0,12.0,6.7,4.6,0.0,5.2,57.4,132.8
3,193.0,29.9,20.4,34.4,7.8,6.9,0.6,6.7,57.2,182.3
4,38.2,37.1,29.2,26.2,5.4,2.0,0.0,5.6,60.2,45.4
5,55.7,32.8,29.9,22.7,10.0,2.6,2.0,5.0,82.8,41.5
6,53.2,29.9,34.3,17.4,14.0,4.5,0.0,5.1,61.0,44.8
7,51.9,39.9,30.0,22.6,5.1,0.8,1.7,4.9,48.8,39.5
8,33.5,44.5,36.8,13.6,3.1,1.6,0.4,4.4,80.1,27.4
9,84.4,21.5,47.0,20.4,6.5,4.6,0.0,6.0,52.4,64.4
10,64.9,64.6,14.4,18.2,2.8,0.0,0.0,5.1,67.7,63.7
11,65.7,23.8,39.7,29.8,1.5,4.4,0.8,5.3,72.0,57.9
12,212.3,34.1,29.5,30.6,2.9,2.9,0.0,7.5,66.9,247.7
13,145.6,45.3,20.0,23.8,7.2,3.1,0.6,6.3,64.3,146.0
14,109.7,38.5,12.1,20.7,25.1,3.6,0.0,5.3,91.8,121.3
15,179.8,33.7,32.1,15.7,12.2,6.1,0.2,6.6,56.6,164.6
16,144.9,39.3,25.6,16.3,11.5,6.8,0.5,6.8,69.2,151.3

In [21]:
df.iloc[:, 50:60]

,전통시장,평균 휴양 만족 점수,건강 증진을 위해,휴양 및 휴식을 취하기 위해,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타,지역별 강소기업 갯수
0,119.8,7.55,35.3,60.8,2.1,0.8,-,-,1,244
1,69.1,7.74,70.5,21.8,3.1,4,0.1,0.5,-,5107
2,99.5,7.28,78.2,12.9,7.7,0.9,0.3,-,-,1071
3,132.4,8.29,83.0,9.1,1.4,0.8,5.1,0.6,-,884
4,45.7,7.78,68.3,27.2,-,3.6,-,0.8,-,312
5,29.2,7.85,88.3,8.1,-,1.7,-,1.9,-,675
6,46.5,7.80,44.9,48.5,5.3,1.3,-,-,-,429
7,29.0,7.45,61.9,33.8,3.7,0.3,0.3,-,-,872
8,21.2,8.08,72.6,22.5,1.6,2.7,0.4,0.2,-,2991
9,78.5,7.47,49.3,45.5,4.2,-,-,1,-,52
10,47.9,7.46,87.3,8.9,3.8,-,-,-,-,263
11,61.7,7.48,67.6,18.6,4.9,6.7,-,-,2.2,1003
12,199.2,7.35,64.3,30.9,2,2.8,-,-,-,420
13,110.9,7.79,80.6,16.5,0.4,1,0.7,0.7,-,324
14,85.8,7.96,57.6,39.0,1.4,1.3,-,-,0.7,78
15,143.8,7.65,56.4,30.1,5.1,4.6,2.6,0.6,0.6,682
16,104.8,7.45,53.8,35.6,6.2,2.5,1.2,-,0.7,555

In [22]:
df.iloc[:, 60:61]

         지역
0       강원도
1       경기도
2      경상남도
3      경상북도
4     광주광역시
5     대구광역시
6     대전광역시
7     부산광역시
8     서울특별시
9   세종특별자치시
10    울산광역시
11    인천광역시
12     전라남도
13     전라북도
14  제주특별자치도
15     충청남도
16     충청북도

In [23]:
df2 = pd.read_csv('./데이터 통합용/2021년 강소기업.csv')
df2 = df2.drop('지역', axis = 1)
df2

    지역별 강소기업 갯수
0           244
1          5107
2          1071
3           884
4           312
5           675
6           429
7           872
8          2991
9            52
10          263
11         1003
12          420
13          324
14           78
15          682
16          555

In [24]:
df= pd.concat([df, df2], axis = 1, join = 'inner')
df

,Unnamed: 0,시도명,청년인구,초등학교,중학교,고등학교,지수(점),등급,순위,일산화탄소(CO),...,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타,지역별 강소기업 갯수,지역,지역별 고령화 비율(%),지역별 강소기업 갯수.1,지역별 강소기업 갯수
0,0,강원,56404,36.9,56.0,71.4,79.117219,E,16,59091323,...,2.1,0.8,-,-,1,244,강원도,21.9,244,244
1,1,경기,579851,19.2,28.5,36.5,81.262092,C,10,26661660,...,3.1,4,0.1,0.5,-,5107,경기도,14.0,5107,5107
2,2,경남,128482,28.5,43.1,54.0,81.912194,C,8,17213386,...,7.7,0.9,0.3,-,-,1071,경상남도,18.6,1071,1071
3,3,경북,100105,37.1,56.6,73.5,80.057274,D,12,42473267,...,1.4,0.8,5.1,0.6,-,884,경상북도,22.9,884,884
4,4,광주,66496,15.6,21.9,32.5,83.968337,A,2,7955525,...,-,3.6,-,0.8,-,312,광주광역시,14.9,312,312
5,5,대구,104823,16.5,23.3,32.6,81.219598,C,11,10659806,...,-,1.7,-,1.9,-,675,대구광역시,17.7,675,675
6,6,대전,64361,15.4,21.9,31.4,83.391163,B,3,31399616,...,5.3,1.3,-,-,-,429,대전광역시,15.4,429,429
7,7,부산,146114,16.0,23.9,32.6,81.987617,C,7,4956050,...,3.7,0.3,0.3,-,-,872,부산광역시,20.6,872,872
8,8,서울,489384,12.1,15.9,20.8,81.292265,C,9,136960058,...,1.6,2.7,0.4,0.2,-,2991,서울특별시,17.0,2991,2991
9,9,세종,9617,17.4,25.1,34.5,84.951890,A,1,50995652,...,4.2,-,-,1,-,52,세종특별자치시,10.1,52,52
10,10,울산,40190,19.2,33.2,43.3,82.404533,B,6,42066531,...,3.8,-,-,-,-,263,울산광역시,13.9,263,263
11,11,인천,138568,16.7,26.1,31.1,82.617784,B,4,65226479,...,4.9,6.7,-,-,2.2,1003,인천광역시,15.0,1003,1003
12,12,전남,71447,48.6,66.7,79.5,79.492157,D,14,46256989,...,2,2.8,-,-,-,420,전라남도,24.4,420,420
13,13,전북,69075,30.0,45.4,60.7,79.799290,D,13,64643232,...,0.4,1,0.7,0.7,-,324,전라북도,22.4,324,324
14,14,제주,31481,26.9,41.7,62.3,82.580625,B,5,96585111,...,1.4,1.3,-,-,0.7,78,제주특별자치도,16.5,78,78
15,15,충남,84970,36.5,60.9,82.9,78.036222,E,17,49198641,...,5.1,4.6,2.6,0.6,0.6,682,충청남도,20.0,682,682
16,16,충북,60164,30.9,48.9,66.1,79.179578,D,15,11130074,...,6.2,2.5,1.2,-,0.7,555,충청북도,19.1,555,555