# 관광객 데이터 전처리

## 1. 데이터 불러오기

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pylab as plt

In [5]:
import seaborn as sns

#### - header: 컬럼명으로 선택할 행 선택
#### - skipfooter: 아래서부터 제거할 행의 개수
#### - usecols: 사용할 행 선택

In [6]:
# 자동화

file_path = './files/kto_201901.xlsx'
kto_201901 = pd.read_excel(file_path, \
                           header = 1, \
                           skipfooter = 4, \
                           usecols = 'A : G')
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

## 2. 데이터 이상치, 결측치 확인

In [7]:
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [8]:
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [9]:
condition = (kto_201901[(kto_201901['관광'] == 0) \
           | (kto_201901['상용'] == 0) \
           | (kto_201901['공용'] == 0) \
           | (kto_201901['유학/연수'] == 0)])
condition

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [10]:
print(len(kto_201901[(kto_201901['관광'] == 0) \
           | (kto_201901['상용'] == 0) \
           | (kto_201901['공용'] == 0) \
           | (kto_201901['유학/연수'] == 0)]))

13

## 3. 컬럼 추가하기

In [11]:
# 자동화

kto_201901['기준년월'] = '2019-01'
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

## 4. 중복값 확인하기

In [12]:
kto_201901['국적'].value_counts()

아시아주     1
러시아      1
네덜란드     1
스웨덴      1
스위스      1
        ..
캐나다      1
멕시코      1
브라질      1
미주 기타    1
교포       1
Name: 국적, Length: 67, dtype: int64

In [13]:
kto_201901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

## 5. 특정 값 제거 후 인덱스 재배열

In [14]:
# 자동화

continentis_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
continentis_list

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [15]:
# 자동화

condition = kto_201901['국적'].isin(continentis_list)
condition

0      True
1     False
2     False
3     False
4     False
      ...
62    False
63     True
64    False
65     True
66    False
Name: 국적, Length: 67, dtype: bool

In [16]:
kto_201901[condition == True]

       국적      관광     상용    공용  유학/연수      기타       계     기준년월
0    아시아주  765082  10837  1423  14087  125521  916950  2019-01
26     미주   54982    526  2657    479   22277   80921  2019-01
32     구주   47681   1465   230   1177   19485   70038  2019-01
56    대양주   15379    116    38     39    2052   17624  2019-01
60  아프리카주    1136    727    91    212    1524    3690  2019-01
63   기타대륙      33      4     0      1      16      54  2019-01
65   교포소계       0      0     0      0   15526   15526  2019-01

In [17]:
# 자동화

kto_201901_country = kto_201901[condition == False]
kto_201901_country['국적'].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [18]:
print(len(kto_201901_country['국적'].unique()))

60

#### - drop = False로 설정하면 기존 index를 데이터 안으로 넣고, 새로운 index를 설정

In [19]:
# 자동화

kto_201901_country_newindex = kto_201901_country.reset_index(drop = True)
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

## 6. 국적을 대륙별로 나누기

#### - 아시아[25], 아메리카[5], 유럽[23], 오세아니아[3], 아프리카[2], 기타대륙[1], 교포[1]

In [20]:
# 자동화

kto_201901_country_newindex['대륙'] = ['아시아'] * 25 + ['아메리카'] * 5 + ['유럽'] * 23 + ['오세아니아'] * 3 \
+ ['아프리카'] * 2 + ['기타대륙'] + ['교포']

In [21]:
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

## 7. 국적 기준으로 다양한 통계 내기

In [22]:
# 자동화

kto_201901_country_newindex['관광객비율(%)'] = round(kto_201901_country_newindex['관광'] / kto_201901_country_newindex['계'] * 100, 1)

In [23]:
kto_201901_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0

In [24]:
# 자동화

kto_201901_country_newindex['전체비율(%)'] = round(kto_201901_country_newindex['관광'] / \
                                             sum(kto_201901_country_newindex['관광']) * 100, 1)

kto_201901_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5,0.3
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3,2.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9,1.6
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3,1.6
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0,0.9
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7,0.1
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2,1.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7,0.3
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9,0.0
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6,0.1
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4,0.9
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6,0.0
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3,0.1
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4,0.1
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0,0.2
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1,0.2
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3,0.2
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3,0.2
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5,0.9
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2,0.1
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8,0.1
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0,0.2
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7,0.9
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9,0.6
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7,0.4
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2,0.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9,0.1
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1,0.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1,0.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2,0.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9,0.1
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1,0.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1,0.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8,0.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1,0.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9,0.0
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2,0.1
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5,2.0
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7,0.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9,0.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0,0.2
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6,1.4
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5,0.2
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4,0.1
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6,0.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0,0.0

In [25]:
kto_201901_country_newindex.sort_values(by = ['전체비율(%)'], axis = 0, ascending = False).head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9

## 8. 파일명 자동 생성하기
#### - concat()을 쓰면 reset_index를 사용해야 함

In [26]:
for i in range(2010, 2020):
    for j in range(1, 13):
        print(f'kto_{i}{str(j).zfill(2)}.xlsx')

kto_201001.xlsx
kto_201002.xlsx
kto_201003.xlsx
kto_201004.xlsx
kto_201005.xlsx
kto_201006.xlsx
kto_201007.xlsx
kto_201008.xlsx
kto_201009.xlsx
kto_201010.xlsx
kto_201011.xlsx
kto_201012.xlsx
kto_201101.xlsx
kto_201102.xlsx
kto_201103.xlsx
kto_201104.xlsx
kto_201105.xlsx
kto_201106.xlsx
kto_201107.xlsx
kto_201108.xlsx
kto_201109.xlsx
kto_201110.xlsx
kto_201111.xlsx
kto_201112.xlsx
kto_201201.xlsx
kto_201202.xlsx
kto_201203.xlsx
kto_201204.xlsx
kto_201205.xlsx
kto_201206.xlsx
kto_201207.xlsx
kto_201208.xlsx
kto_201209.xlsx
kto_201210.xlsx
kto_201211.xlsx
kto_201212.xlsx
kto_201301.xlsx
kto_201302.xlsx
kto_201303.xlsx
kto_201304.xlsx
kto_201305.xlsx
kto_201306.xlsx
kto_201307.xlsx
kto_201308.xlsx
kto_201309.xlsx
kto_201310.xlsx
kto_201311.xlsx
kto_201312.xlsx
kto_201401.xlsx
kto_201402.xlsx
kto_201403.xlsx
kto_201404.xlsx
kto_201405.xlsx
kto_201406.xlsx
kto_201407.xlsx
kto_201408.xlsx
kto_201409.xlsx
kto_201410.xlsx
kto_201411.xlsx
kto_201412.xlsx
kto_201501.xlsx
kto_201502.xlsx
kto_201503.xlsx
kto_201504.xlsx
kto_201505.xlsx
kto_201506.xlsx
kto_201507.xlsx
kto_201508.xlsx
kto_201509.xlsx
kto_201510.xlsx
kto_201511.xlsx
kto_201512.xlsx
kto_201601.xlsx
kto_201602.xlsx
kto_201603.xlsx
kto_201604.xlsx
kto_201605.xlsx
kto_201606.xlsx
kto_201607.xlsx
kto_201608.xlsx
kto_201609.xlsx
kto_201610.xlsx
kto_201611.xlsx
kto_201612.xlsx
kto_201701.xlsx
kto_201702.xlsx
kto_201703.xlsx
kto_201704.xlsx
kto_201705.xlsx
kto_201706.xlsx
kto_201707.xlsx
kto_201708.xlsx
kto_201709.xlsx
kto_201710.xlsx
kto_201711.xlsx
kto_201712.xlsx
kto_201801.xlsx
kto_201802.xlsx
kto_201803.xlsx
kto_201804.xlsx
kto_201805.xlsx
kto_201806.xlsx
kto_201807.xlsx
kto_201808.xlsx
kto_201809.xlsx
kto_201810.xlsx
kto_201811.xlsx
kto_201812.xlsx
kto_201901.xlsx
kto_201902.xlsx
kto_201903.xlsx
kto_201904.xlsx
kto_201905.xlsx
kto_201906.xlsx
kto_201907.xlsx
kto_201908.xlsx
kto_201909.xlsx
kto_201910.xlsx
kto_201911.xlsx
kto_201912.xlsx

## 9. 반복문을 이용하여 파일 불러오기

In [105]:
file_path = list()

for i in range(2010, 2020):
    for j in range(1, 13):
        file_path.append(f'./files/kto_{i}{str(j).zfill(2)}.xlsx')
        
for file_name in file_path:
    df = pd.read_excel(file_name, header = 1, skipfooter = 4, usecols = 'A : G')
    print(len(df))

67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67

FileNotFoundError: [Errno 2] No such file or directory: './files/kto_201909.xlsx'

In [108]:
df_all = pd.DataFrame()

for yy in range(2010, 2020):
    for mm in range(1, 13):
        
        try:
            
            file_path = './files/kto_{}{}.xlsx'.format(yy, str(mm).zfill(2))
            df = pd.read_excel(file_path, header = 1, skipfooter = 4, usecols = 'A:G')

            # 기준년월 column 추가
            df['기준년월'] = str(yy) + '-' + str(mm).zfill(2)

            # 특정 행 제거
            continentis_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
            condition = df['국적'].isin(continentis_list)
            df_country = df[condition == False]

            # index 재설정
            df_country_newindex = df_country.reset_index(drop = True)

            # 대륙 column 추가 후 구분하기
            df_country_newindex['대륙'] = ['아시아'] * 25 + ['아메리카'] * 5 + ['유럽'] * 23 + ['오세아니아'] * 3 + \
                                          ['아프리카'] * 2 + ['기타대륙'] + ['교포']

            # 관광객 비율 column 추가
            df_country_newindex['관광객비율(%)'] = round(df_country_newindex['관광'] / df_country_newindex['계'] * 100, 1)

            # 전체 비율 column 추가
            df_country_newindex['전체비율(%)'] = round(df_country_newindex['관광'] / \
                                                 sum(df_country_newindex['관광']) * 100, 1)
            
            # 통합하기
            df_all = df_all.append(df_country_newindex, ignore_index = True)
            
        except:
            
            pass
        
print(df_all)

            국적      관광    상용   공용  유학/연수     기타       계     기준년월     대륙  \
0           일본  202825  1750   89    549   3971  209184  2010-01    아시아
1           대만   35788    41   17     37    516   36399  2010-01    아시아
2           홍콩   13874    55    0     21    595   14545  2010-01    아시아
3          마카오     554     0    0      0      0     554  2010-01    아시아
4           태국   13374    39   13     53   4335   17814  2010-01    아시아
...        ...     ...   ...  ...    ...    ...     ...      ...    ...
6955    대양주 기타     519     1    6      9     74     609  2019-08  오세아니아
6956  남아프리카공화국     634     6    1     11   1235    1887  2019-08   아프리카
6957   아프리카 기타    2081   593  165    841   1184    4864  2019-08   아프리카
6958      국적미상      36     1    0      8     12      57  2019-08   기타대륙
6959        교포       0     0    0      0  16560   16560  2019-08     교포

      관광객비율(%)  전체비율(%)
0         97.0     50.6
1         98.3      8.9
2         95.4      3.5
3        100.0      0.1
4         75.1      3.3
...        ...      ...
6955      85.2      0.0
6956      33.6      0.1
6957      42.8      0.2
6958      63.2      0.0
6959       0.0      0.0

[6960 rows x 11 columns]

In [109]:
def create_kto_data(yy, mm):
    
    file_path = './files/kto_{}{}.xlsx'.format(yy, str(mm).zfill(2))
    df = pd.read_excel(file_path, header = 1, skipfooter = 4, usecols = 'A:G')

    # 기준년월 column 추가
    df['기준년월'] = str(yy) + '-' + str(mm).zfill(2)

    # 특정 행 제거
    continentis_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
    condition = df['국적'].isin(continentis_list)
    df_country = df[condition == False]

    # index 재설정
    df_country_newindex = df_country.reset_index(drop = True)

    # 대륙 column 추가 후 구분하기
    df_country_newindex['대륙'] = ['아시아'] * 25 + ['아메리카'] * 5 + ['유럽'] * 23 + ['오세아니아'] * 3 + \
                                  ['아프리카'] * 2 + ['기타대륙'] + ['교포']

    # 관광객 비율 column 추가
    df_country_newindex['관광객비율(%)'] = round(df_country_newindex['관광'] / df_country_newindex['계'] * 100, 1)

    # 전체 비율 column 추가
    df_country_newindex['전체비율(%)'] = round(df_country_newindex['관광'] / \
                                          sum(df_country_newindex['관광']) * 100, 1)
    return df_country_newindex

In [115]:
for yy in range(2010, 2020):
    for mm in range(1, 13):
        try:
            
            temp = create_kto_data(yy, mm)
            df_all = df_all.append(temp, ignore_index = True)
            
        except:
            
            pass
        
print(df_all)

            국적      관광    상용   공용  유학/연수     기타       계     기준년월     대륙  \
0           일본  202825  1750   89    549   3971  209184  2010-01    아시아
1           대만   35788    41   17     37    516   36399  2010-01    아시아
2           홍콩   13874    55    0     21    595   14545  2010-01    아시아
3          마카오     554     0    0      0      0     554  2010-01    아시아
4           태국   13374    39   13     53   4335   17814  2010-01    아시아
...        ...     ...   ...  ...    ...    ...     ...      ...    ...
6955    대양주 기타     519     1    6      9     74     609  2019-08  오세아니아
6956  남아프리카공화국     634     6    1     11   1235    1887  2019-08   아프리카
6957   아프리카 기타    2081   593  165    841   1184    4864  2019-08   아프리카
6958      국적미상      36     1    0      8     12      57  2019-08   기타대륙
6959        교포       0     0    0      0  16560   16560  2019-08     교포

      관광객비율(%)  전체비율(%)
0         97.0     50.6
1         98.3      8.9
2         95.4      3.5
3        100.0      0.1
4         75.1      3.3
...        ...      ...
6955      85.2      0.0
6956      33.6      0.1
6957      42.8      0.2
6958      63.2      0.0
6959       0.0      0.0

[6960 rows x 11 columns]

In [116]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6960 entries, 0 to 6959
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   국적        6960 non-null   object
 1   관광        6960 non-null   int64
 2   상용        6960 non-null   int64
 3   공용        6960 non-null   int64
 4   유학/연수     6960 non-null   int64
 5   기타        6960 non-null   int64
 6   계         6960 non-null   int64
 7   기준년월      6960 non-null   object
 8   대륙        6960 non-null   object
 9   관광객비율(%)  6960 non-null   float64
 10  전체비율(%)   6960 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 598.2+ KB

In [117]:
df_all.describe()

,관광,상용,공용,유학/연수,기타,계,관광객비율(%),전체비율(%)
count,6960.000000,6960.000000,6960.000000,6960.000000,6960.000000,6960.000000,6960.000000,6960.000000
mean,14151.834914,310.131178,61.251149,303.418822,3383.024713,18209.660776,62.111940,1.665259
std,52351.026147,1043.723255,250.858698,2116.778318,10269.311046,62120.322558,24.763823,5.915490
min,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000
25%,500.000000,17.000000,1.000000,7.000000,219.000000,953.000000,44.300000,0.100000
50%,1218.500000,50.000000,5.000000,26.000000,611.000000,2235.500000,68.600000,0.100000
75%,5805.000000,225.250000,25.000000,85.000000,1854.250000,9773.750000,80.700000,0.700000
max,823016.000000,25012.000000,3763.000000,44291.000000,137898.000000,917519.000000,100.000000,58.600000

In [119]:
df_all['국적'].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

## 10. 저장하기

In [124]:
df_all.to_excel('./files/kto_total.xlsx', index = False)