In [1]:
# pandas 라이브러리 호출

import pandas as pd

In [3]:
# '마을축제까지.csv' 파일 df로 불러오기

df=pd.read_csv('./마을축제까지.csv')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,미세먼지(PM10),미세먼지(PM2.5),Black Carbon(BC),휘발성유기화합물(VOC),암모니아(NH₃),마을축제 건 수,전통문화축제,관광축제,산업축제,특수목적축제
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,15129997,3973381,1498115,72392596,3469369,81,18,50,8,5
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,6885594,2644114,525045,42340472,1619633,97,40,49,1,7
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,3911124,1293610,338163,31875289,1668164,106,35,57,5,9
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,7601495,2701129,607477,55060920,7166199,59,30,17,10,2
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,1710002,546285,153216,15721745,967862,16,14,1,0,1
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,1908298,653448,219448,16758270,764088,17,5,10,0,2
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,4079779,2274013,298484,91961349,15129468,7,4,3,0,0
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,1024217,345444,122819,5961807,2759517,40,17,19,0,4
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,31342317,10487681,3109508,190939659,47387368,108,63,27,1,17
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,9771796,4109457,748947,30262580,14848233,6,2,3,1,0
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,9461854,3591283,852934,43144277,16981034,16,9,7,0,0
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,37203474,18129171,1317944,78132426,53162788,19,7,7,2,3
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,10629234,3562598,773400,69845741,35196862,67,13,41,7,6
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,28206197,13155832,1129608,88957759,43726932,80,21,35,7,17
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,45299533,22006791,2055265,89303873,36543850,22,10,11,1,0
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,11984146,4726004,1031456,89168391,26920346,40,9,25,4,2
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,3495486,1065148,223209,8999552,7655447,34,6,13,11,4

In [7]:
# 'df_문화기반시설수.csv' 파일 df2로 불러오기
# df2['지역'] 열 삭제

df2 = pd.read_csv('./데이터 통합용/df_문화기반시설수.csv')
df2 = df2.drop('지역', axis = 1)
df2

    문화기반시설 수
0        235
1        569
2        228
3        220
4         74
5         92
6         62
7        131
8        429
9         23
10        47
11       120
12       228
13       180
14       135
15       176
16       138

In [8]:
# ooncat 함수를 이용하여 df와 df2 데이터프레임을 열기준과 inner join의 형식으로 합침

df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,미세먼지(PM2.5),Black Carbon(BC),휘발성유기화합물(VOC),암모니아(NH₃),마을축제 건 수,전통문화축제,관광축제,산업축제,특수목적축제,문화기반시설 수
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,3973381,1498115,72392596,3469369,81,18,50,8,5,235
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,2644114,525045,42340472,1619633,97,40,49,1,7,569
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,1293610,338163,31875289,1668164,106,35,57,5,9,228
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,2701129,607477,55060920,7166199,59,30,17,10,2,220
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,546285,153216,15721745,967862,16,14,1,0,1,74
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,653448,219448,16758270,764088,17,5,10,0,2,92
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,2274013,298484,91961349,15129468,7,4,3,0,0,62
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,345444,122819,5961807,2759517,40,17,19,0,4,131
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,10487681,3109508,190939659,47387368,108,63,27,1,17,429
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,4109457,748947,30262580,14848233,6,2,3,1,0,23
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,3591283,852934,43144277,16981034,16,9,7,0,0,47
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,18129171,1317944,78132426,53162788,19,7,7,2,3,120
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,3562598,773400,69845741,35196862,67,13,41,7,6,228
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,13155832,1129608,88957759,43726932,80,21,35,7,17,180
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,22006791,2055265,89303873,36543850,22,10,11,1,0,135
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,4726004,1031456,89168391,26920346,40,9,25,4,2,176
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,1065148,223209,8999552,7655447,34,6,13,11,4,138

In [14]:
# 'df_문화예술 공연 건 수.csv' 파일 df2로 불러오기
# df2['지역'] 열 삭제

df2 = pd.read_csv('./데이터 통합용/df_문화예술 공연 건 수.csv')
df2 = df2.drop('지역', axis = 1)
df2

    지역  공연사업 수  공연 횟수
0   강원     148    782
1   경기     536   4017
2   경남     303   1016
3   경북     208    868
4   광주      38    305
5   대구      51    315
6   대전      67    176
7   부산     157    834
8   서울     234   2575
9   세종      13     22
10  울산      27    539
11  인천      80    291
12  전남     130    755
13  전북     231   1099
14  제주      85    220
15  충남      75    888
16  충북     109    365

In [16]:
# ooncat 함수를 이용하여 df와 df2 데이터프레임을 열기준과 inner join의 형식으로 합침

df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,휘발성유기화합물(VOC),암모니아(NH₃),마을축제 건 수,전통문화축제,관광축제,산업축제,특수목적축제,문화기반시설 수,공연사업 수,공연 횟수
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,72392596,3469369,81,18,50,8,5,235,148,782
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,42340472,1619633,97,40,49,1,7,569,536,4017
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,31875289,1668164,106,35,57,5,9,228,303,1016
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,55060920,7166199,59,30,17,10,2,220,208,868
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,15721745,967862,16,14,1,0,1,74,38,305
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,16758270,764088,17,5,10,0,2,92,51,315
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,91961349,15129468,7,4,3,0,0,62,67,176
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,5961807,2759517,40,17,19,0,4,131,157,834
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,190939659,47387368,108,63,27,1,17,429,234,2575
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,30262580,14848233,6,2,3,1,0,23,13,22
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,43144277,16981034,16,9,7,0,0,47,27,539
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,78132426,53162788,19,7,7,2,3,120,80,291
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,69845741,35196862,67,13,41,7,6,228,130,755
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,88957759,43726932,80,21,35,7,17,180,231,1099
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,89303873,36543850,22,10,11,1,0,135,85,220
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,89168391,26920346,40,9,25,4,2,176,75,888
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,8999552,7655447,34,6,13,11,4,138,109,365

In [17]:
# 'df_생활문화시설.csv' 파일 df2로 불러오기
# df2['지역'] 열 삭제

df2 = pd.read_csv('./데이터 통합용/df_생활문화시설.csv')
df2 = df2.drop('지역', axis = 1)
df2

    지역  생활문화시설 수  생활문화센터  평생 학습관  문화의집  생활영상시설  작은도서관
0   강원       158       3       8     5       4    138
1   경기       534       8       5     3       4    514
2   경남       255       0       5     9       3    238
3   경북       149       1       5     4       1    138
4   광주       415       4       8     4       2    397
5   대구       133       4       6     0       1    122
6   대전       240       2       5     3       1    229
7   부산        89       7       2     0       0     80
8   서울       133       0       4     0       3    126
9   세종        59       1       1     0       0     57
10  울산       166       2       5     4       2    153
11  인천       139       5       8     1       2    123
12  전남       175       1       2     1       2    169
13  전북       231       6       6     6       3    210
14  제주       204       2       3    19       1    179
15  충남       226       3       7     2       1    213
16  충북       178       2       5     3       2    166

In [19]:
# ooncat 함수를 이용하여 df와 df2 데이터프레임을 열기준과 inner join의 형식으로 합침

df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,특수목적축제,문화기반시설 수,공연사업 수,공연 횟수,생활문화시설 수,생활문화센터,평생 학습관,문화의집,생활영상시설,작은도서관
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,5,235,148,782,158,3,8,5,4,138
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,7,569,536,4017,534,8,5,3,4,514
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,9,228,303,1016,255,0,5,9,3,238
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,2,220,208,868,149,1,5,4,1,138
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,1,74,38,305,415,4,8,4,2,397
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,2,92,51,315,133,4,6,0,1,122
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,0,62,67,176,240,2,5,3,1,229
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,4,131,157,834,89,7,2,0,0,80
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,17,429,234,2575,133,0,4,0,3,126
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,0,23,13,22,59,1,1,0,0,57
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,0,47,27,539,166,2,5,4,2,153
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,3,120,80,291,139,5,8,1,2,123
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,6,228,130,755,175,1,2,1,2,169
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,17,180,231,1099,231,6,6,6,3,210
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,0,135,85,220,204,2,3,19,1,179
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,2,176,75,888,226,3,7,2,1,213
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,4,138,109,365,178,2,5,3,2,166

In [20]:
# 'df_연령별 경제활동인구.csv' 파일 df2로 불러오기
# df2['행정구역(시도)'] 열 삭제

df2 = pd.read_csv('./데이터 통합용/df_연령별 경제활동인구.csv')
df2 = df2.drop('행정구역(시도)', axis = 1)
df2

,행정구역(시도),경제활동인구 (천명),- 연령별(15~29세),- 연령별(30~39세),- 연령별(40~49세),- 연령별(50~59세),- 연령별(60세이상),- 교육정도별(중졸이하),- 교육정도별(고졸),- 교육정도별(대졸이상)
0,강원도,1688,206,246,350,403,485,385,634,667
1,경기도,14752,2280,3140,3576,3424,2334,1512,5832,7408
2,경상남도,3634,442,630,838,885,839,657,1485,1493
3,경상북도,2936,337,424,597,706,872,692,1098,1146
4,광주광역시,1558,233,292,394,372,268,179,552,828
5,대구광역시,2550,396,454,570,654,478,328,881,1340
6,대전광역시,1618,288,306,376,370,280,170,572,876
7,부산광역시,3442,482,621,776,825,739,460,1297,1685
8,서울특별시,10652,2037,2360,2316,2262,1677,884,3404,6365
9,세종특별자치시,385,52,99,115,71,48,34,90,261
10,울산광역시,1143,129,228,294,306,186,132,478,533
11,인천광역시,3294,522,644,780,788,560,374,1532,1388
12,전라남도,2012,184,280,419,476,654,559,737,715
13,전라북도,1942,227,288,414,450,564,455,719,769
14,제주특별자치도,810,110,142,192,186,180,130,276,406
15,충청남도,2472,318,450,540,564,600,517,1002,954
16,충청북도,1837,275,318,400,432,414,342,760,734

In [22]:
# ooncat 함수를 이용하여 df와 df2 데이터프레임을 열기준과 inner join의 형식으로 합침

df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,작은도서관,경제활동인구 (천명),- 연령별(15~29세),- 연령별(30~39세),- 연령별(40~49세),- 연령별(50~59세),- 연령별(60세이상),- 교육정도별(중졸이하),- 교육정도별(고졸),- 교육정도별(대졸이상)
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,138,1688,206,246,350,403,485,385,634,667
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,514,14752,2280,3140,3576,3424,2334,1512,5832,7408
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,238,3634,442,630,838,885,839,657,1485,1493
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,138,2936,337,424,597,706,872,692,1098,1146
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,397,1558,233,292,394,372,268,179,552,828
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,122,2550,396,454,570,654,478,328,881,1340
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,229,1618,288,306,376,370,280,170,572,876
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,80,3442,482,621,776,825,739,460,1297,1685
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,126,10652,2037,2360,2316,2262,1677,884,3404,6365
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,57,385,52,99,115,71,48,34,90,261
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,153,1143,129,228,294,306,186,132,478,533
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,123,3294,522,644,780,788,560,374,1532,1388
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,169,2012,184,280,419,476,654,559,737,715
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,210,1942,227,288,414,450,564,455,719,769
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,179,810,110,142,192,186,180,130,276,406
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,213,2472,318,450,540,564,600,517,1002,954
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,166,1837,275,318,400,432,414,342,760,734

In [23]:
# 'df_의료시설 평균접근시간(분).csv' 파일 df2로 불러오기
# df2['지역'] 열 삭제

df2 = pd.read_csv('./데이터 통합용/df_의료시설 평균접근시간(분).csv')
df2 = df2.drop('지역', axis = 1)
df2

         지역  공공의료시설   병·의원   종합병원
0       강원도    92.6   75.9  170.8
1       경기도    57.2   21.4   78.6
2      경상남도    69.2   57.0  152.6
3      경상북도    84.1   93.5  193.0
4     광주광역시    57.2   14.3   38.2
5     대구광역시    53.2   14.1   55.7
6     대전광역시    51.6   13.2   53.2
7     부산광역시    47.3   12.8   51.9
8     서울특별시    36.7    7.8   33.5
9   세종특별자치시    51.4   26.8   84.4
10    울산광역시    63.6   22.2   64.9
11    인천광역시    50.9   20.2   65.7
12     전라남도    89.2  114.8  212.3
13     전라북도    73.7   67.1  145.6
14  제주특별자치도    66.6   40.4  109.7
15     충청남도    79.4   82.6  179.8
16     충청북도    76.4   62.0  144.9

In [25]:
# ooncat 함수를 이용하여 df와 df2 데이터프레임을 열기준과 inner join의 형식으로 합침

df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,- 연령별(30~39세),- 연령별(40~49세),- 연령별(50~59세),- 연령별(60세이상),- 교육정도별(중졸이하),- 교육정도별(고졸),- 교육정도별(대졸이상),공공의료시설,병·의원,종합병원
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,246,350,403,485,385,634,667,92.6,75.9,170.8
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,3140,3576,3424,2334,1512,5832,7408,57.2,21.4,78.6
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,630,838,885,839,657,1485,1493,69.2,57.0,152.6
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,424,597,706,872,692,1098,1146,84.1,93.5,193.0
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,292,394,372,268,179,552,828,57.2,14.3,38.2
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,454,570,654,478,328,881,1340,53.2,14.1,55.7
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,306,376,370,280,170,572,876,51.6,13.2,53.2
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,621,776,825,739,460,1297,1685,47.3,12.8,51.9
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,2360,2316,2262,1677,884,3404,6365,36.7,7.8,33.5
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,99,115,71,48,34,90,261,51.4,26.8,84.4
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,228,294,306,186,132,478,533,63.6,22.2,64.9
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,644,780,788,560,374,1532,1388,50.9,20.2,65.7
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,280,419,476,654,559,737,715,89.2,114.8,212.3
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,288,414,450,564,455,719,769,73.7,67.1,145.6
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,142,192,186,180,130,276,406,66.6,40.4,109.7
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,450,540,564,600,517,1002,954,79.4,82.6,179.8
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,318,400,432,414,342,760,734,76.4,62.0,144.9

## 이하 동일함

In [26]:
df2 = pd.read_csv('./데이터 통합용/df_이용하고 싶은 체육시설.csv')
df2

    지역  공공 체육시설  민간 체육시설  기타 체육시설  학교체육시설  자가시설  직장체육시설
0   강원     34.8     28.0     10.9     4.1  21.7     0.5
1   경기     38.5     39.6     19.5     1.1   1.4     0.0
2   경남     45.8     31.0     12.0     6.7   4.6     0.0
3   경북     29.9     20.4     34.4     7.8   6.9     0.6
4   광주     37.1     29.2     26.2     5.4   2.0     0.0
5   대구     32.8     29.9     22.7    10.0   2.6     2.0
6   대전     29.9     34.3     17.4    14.0   4.5     0.0
7   부산     39.9     30.0     22.6     5.1   0.8     1.7
8   서울     44.5     36.8     13.6     3.1   1.6     0.4
9   세종     21.5     47.0     20.4     6.5   4.6     0.0
10  울산     64.6     14.4     18.2     2.8   0.0     0.0
11  인천     23.8     39.7     29.8     1.5   4.4     0.8
12  전남     34.1     29.5     30.6     2.9   2.9     0.0
13  전북     45.3     20.0     23.8     7.2   3.1     0.6
14  제주     38.5     12.1     20.7    25.1   3.6     0.0
15  충남     33.7     32.1     15.7    12.2   6.1     0.2
16  충북     39.3     25.6     16.3    11.5   6.8     0.5

In [27]:
df2 = df2.drop('지역', axis = 1)
df2

    공공 체육시설  민간 체육시설  기타 체육시설  학교체육시설  자가시설  직장체육시설
0      34.8     28.0     10.9     4.1  21.7     0.5
1      38.5     39.6     19.5     1.1   1.4     0.0
2      45.8     31.0     12.0     6.7   4.6     0.0
3      29.9     20.4     34.4     7.8   6.9     0.6
4      37.1     29.2     26.2     5.4   2.0     0.0
5      32.8     29.9     22.7    10.0   2.6     2.0
6      29.9     34.3     17.4    14.0   4.5     0.0
7      39.9     30.0     22.6     5.1   0.8     1.7
8      44.5     36.8     13.6     3.1   1.6     0.4
9      21.5     47.0     20.4     6.5   4.6     0.0
10     64.6     14.4     18.2     2.8   0.0     0.0
11     23.8     39.7     29.8     1.5   4.4     0.8
12     34.1     29.5     30.6     2.9   2.9     0.0
13     45.3     20.0     23.8     7.2   3.1     0.6
14     38.5     12.1     20.7    25.1   3.6     0.0
15     33.7     32.1     15.7    12.2   6.1     0.2
16     39.3     25.6     16.3    11.5   6.8     0.5

In [28]:
df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,- 교육정도별(대졸이상),공공의료시설,병·의원,종합병원,공공 체육시설,민간 체육시설,기타 체육시설,학교체육시설,자가시설,직장체육시설
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,667,92.6,75.9,170.8,34.8,28.0,10.9,4.1,21.7,0.5
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,7408,57.2,21.4,78.6,38.5,39.6,19.5,1.1,1.4,0.0
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,1493,69.2,57.0,152.6,45.8,31.0,12.0,6.7,4.6,0.0
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,1146,84.1,93.5,193.0,29.9,20.4,34.4,7.8,6.9,0.6
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,828,57.2,14.3,38.2,37.1,29.2,26.2,5.4,2.0,0.0
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,1340,53.2,14.1,55.7,32.8,29.9,22.7,10.0,2.6,2.0
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,876,51.6,13.2,53.2,29.9,34.3,17.4,14.0,4.5,0.0
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,1685,47.3,12.8,51.9,39.9,30.0,22.6,5.1,0.8,1.7
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,6365,36.7,7.8,33.5,44.5,36.8,13.6,3.1,1.6,0.4
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,261,51.4,26.8,84.4,21.5,47.0,20.4,6.5,4.6,0.0
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,533,63.6,22.2,64.9,64.6,14.4,18.2,2.8,0.0,0.0
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,1388,50.9,20.2,65.7,23.8,39.7,29.8,1.5,4.4,0.8
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,715,89.2,114.8,212.3,34.1,29.5,30.6,2.9,2.9,0.0
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,769,73.7,67.1,145.6,45.3,20.0,23.8,7.2,3.1,0.6
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,406,66.6,40.4,109.7,38.5,12.1,20.7,25.1,3.6,0.0
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,954,79.4,82.6,179.8,33.7,32.1,15.7,12.2,6.1,0.2
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,734,76.4,62.0,144.9,39.3,25.6,16.3,11.5,6.8,0.5

In [30]:
df2 = pd.read_csv('./데이터 통합용/df_지역별 전월세전환율.csv')
df2

    지역  전월세전환율(%)
0   강원        6.2
1   경기        4.5
2   경남        5.2
3   경북        6.7
4   광주        5.6
5   대구        5.0
6   대전        5.1
7   부산        4.9
8   서울        4.4
9   세종        6.0
10  울산        5.1
11  인천        5.3
12  전남        7.5
13  전북        6.3
14  제주        5.3
15  충남        6.6
16  충북        6.8

In [31]:
df2 = df2.drop('지역', axis = 1)
df2

    전월세전환율(%)
0         6.2
1         4.5
2         5.2
3         6.7
4         5.6
5         5.0
6         5.1
7         4.9
8         4.4
9         6.0
10        5.1
11        5.3
12        7.5
13        6.3
14        5.3
15        6.6
16        6.8

In [32]:
df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,공공의료시설,병·의원,종합병원,공공 체육시설,민간 체육시설,기타 체육시설,학교체육시설,자가시설,직장체육시설,전월세전환율(%)
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,92.6,75.9,170.8,34.8,28.0,10.9,4.1,21.7,0.5,6.2
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,57.2,21.4,78.6,38.5,39.6,19.5,1.1,1.4,0.0,4.5
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,69.2,57.0,152.6,45.8,31.0,12.0,6.7,4.6,0.0,5.2
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,84.1,93.5,193.0,29.9,20.4,34.4,7.8,6.9,0.6,6.7
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,57.2,14.3,38.2,37.1,29.2,26.2,5.4,2.0,0.0,5.6
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,53.2,14.1,55.7,32.8,29.9,22.7,10.0,2.6,2.0,5.0
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,51.6,13.2,53.2,29.9,34.3,17.4,14.0,4.5,0.0,5.1
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,47.3,12.8,51.9,39.9,30.0,22.6,5.1,0.8,1.7,4.9
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,36.7,7.8,33.5,44.5,36.8,13.6,3.1,1.6,0.4,4.4
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,51.4,26.8,84.4,21.5,47.0,20.4,6.5,4.6,0.0,6.0
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,63.6,22.2,64.9,64.6,14.4,18.2,2.8,0.0,0.0,5.1
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,50.9,20.2,65.7,23.8,39.7,29.8,1.5,4.4,0.8,5.3
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,89.2,114.8,212.3,34.1,29.5,30.6,2.9,2.9,0.0,7.5
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,73.7,67.1,145.6,45.3,20.0,23.8,7.2,3.1,0.6,6.3
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,66.6,40.4,109.7,38.5,12.1,20.7,25.1,3.6,0.0,5.3
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,79.4,82.6,179.8,33.7,32.1,15.7,12.2,6.1,0.2,6.6
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,76.4,62.0,144.9,39.3,25.6,16.3,11.5,6.8,0.5,6.8

In [33]:
df2 = pd.read_csv('./데이터 통합용/df_취업률.csv')
df2

    지역  취업률(%)
0   강원    53.5
1   경기    62.8
2   경남    57.4
3   경북    57.2
4   광주    60.2
5   대구    82.8
6   대전    61.0
7   부산    48.8
8   서울    80.1
9   세종    52.4
10  울산    67.7
11  인천    72.0
12  전남    66.9
13  전북    64.3
14  제주    91.8
15  충남    56.6
16  충북    69.2

In [34]:
df2 = df2.drop('지역', axis = 1)
df2

    취업률(%)
0     53.5
1     62.8
2     57.4
3     57.2
4     60.2
5     82.8
6     61.0
7     48.8
8     80.1
9     52.4
10    67.7
11    72.0
12    66.9
13    64.3
14    91.8
15    56.6
16    69.2

In [35]:
df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,병·의원,종합병원,공공 체육시설,민간 체육시설,기타 체육시설,학교체육시설,자가시설,직장체육시설,전월세전환율(%),취업률(%)
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,75.9,170.8,34.8,28.0,10.9,4.1,21.7,0.5,6.2,53.5
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,21.4,78.6,38.5,39.6,19.5,1.1,1.4,0.0,4.5,62.8
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,57.0,152.6,45.8,31.0,12.0,6.7,4.6,0.0,5.2,57.4
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,93.5,193.0,29.9,20.4,34.4,7.8,6.9,0.6,6.7,57.2
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,14.3,38.2,37.1,29.2,26.2,5.4,2.0,0.0,5.6,60.2
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,14.1,55.7,32.8,29.9,22.7,10.0,2.6,2.0,5.0,82.8
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,13.2,53.2,29.9,34.3,17.4,14.0,4.5,0.0,5.1,61.0
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,12.8,51.9,39.9,30.0,22.6,5.1,0.8,1.7,4.9,48.8
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,7.8,33.5,44.5,36.8,13.6,3.1,1.6,0.4,4.4,80.1
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,26.8,84.4,21.5,47.0,20.4,6.5,4.6,0.0,6.0,52.4
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,22.2,64.9,64.6,14.4,18.2,2.8,0.0,0.0,5.1,67.7
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,20.2,65.7,23.8,39.7,29.8,1.5,4.4,0.8,5.3,72.0
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,114.8,212.3,34.1,29.5,30.6,2.9,2.9,0.0,7.5,66.9
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,67.1,145.6,45.3,20.0,23.8,7.2,3.1,0.6,6.3,64.3
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,40.4,109.7,38.5,12.1,20.7,25.1,3.6,0.0,5.3,91.8
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,82.6,179.8,33.7,32.1,15.7,12.2,6.1,0.2,6.6,56.6
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,62.0,144.9,39.3,25.6,16.3,11.5,6.8,0.5,6.8,69.2

In [36]:
df2 = pd.read_csv('./데이터 통합용/df_판매시설 평균접근시간(분).csv')
df2

         지역  대규모점포   전통시장
0       강원도  195.2  119.8
1       경기도   58.4   69.1
2      경상남도  132.8   99.5
3      경상북도  182.3  132.4
4     광주광역시   45.4   45.7
5     대구광역시   41.5   29.2
6     대전광역시   44.8   46.5
7     부산광역시   39.5   29.0
8     서울특별시   27.4   21.2
9   세종특별자치시   64.4   78.5
10    울산광역시   63.7   47.9
11    인천광역시   57.9   61.7
12     전라남도  247.7  199.2
13     전라북도  146.0  110.9
14  제주특별자치도  121.3   85.8
15     충청남도  164.6  143.8
16     충청북도  151.3  104.8

In [37]:
df2 = df2.drop('지역', axis = 1)
df2

    대규모점포   전통시장
0   195.2  119.8
1    58.4   69.1
2   132.8   99.5
3   182.3  132.4
4    45.4   45.7
5    41.5   29.2
6    44.8   46.5
7    39.5   29.0
8    27.4   21.2
9    64.4   78.5
10   63.7   47.9
11   57.9   61.7
12  247.7  199.2
13  146.0  110.9
14  121.3   85.8
15  164.6  143.8
16  151.3  104.8

In [38]:
df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,공공 체육시설,민간 체육시설,기타 체육시설,학교체육시설,자가시설,직장체육시설,전월세전환율(%),취업률(%),대규모점포,전통시장
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,34.8,28.0,10.9,4.1,21.7,0.5,6.2,53.5,195.2,119.8
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,38.5,39.6,19.5,1.1,1.4,0.0,4.5,62.8,58.4,69.1
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,45.8,31.0,12.0,6.7,4.6,0.0,5.2,57.4,132.8,99.5
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,29.9,20.4,34.4,7.8,6.9,0.6,6.7,57.2,182.3,132.4
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,37.1,29.2,26.2,5.4,2.0,0.0,5.6,60.2,45.4,45.7
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,32.8,29.9,22.7,10.0,2.6,2.0,5.0,82.8,41.5,29.2
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,29.9,34.3,17.4,14.0,4.5,0.0,5.1,61.0,44.8,46.5
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,39.9,30.0,22.6,5.1,0.8,1.7,4.9,48.8,39.5,29.0
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,44.5,36.8,13.6,3.1,1.6,0.4,4.4,80.1,27.4,21.2
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,21.5,47.0,20.4,6.5,4.6,0.0,6.0,52.4,64.4,78.5
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,64.6,14.4,18.2,2.8,0.0,0.0,5.1,67.7,63.7,47.9
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,23.8,39.7,29.8,1.5,4.4,0.8,5.3,72.0,57.9,61.7
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,34.1,29.5,30.6,2.9,2.9,0.0,7.5,66.9,247.7,199.2
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,45.3,20.0,23.8,7.2,3.1,0.6,6.3,64.3,146.0,110.9
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,38.5,12.1,20.7,25.1,3.6,0.0,5.3,91.8,121.3,85.8
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,33.7,32.1,15.7,12.2,6.1,0.2,6.6,56.6,164.6,143.8
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,39.3,25.6,16.3,11.5,6.8,0.5,6.8,69.2,151.3,104.8

In [39]:
df2 = pd.read_csv('./데이터 통합용/df_휴양 만족도.csv')
df2

    지역  평균 휴양 만족 점수
0   강원         7.55
1   경기         7.74
2   경남         7.28
3   경북         8.29
4   광주         7.78
5   대구         7.85
6   대전         7.80
7   부산         7.45
8   서울         8.08
9   세종         7.47
10  울산         7.46
11  인천         7.48
12  전남         7.35
13  전북         7.79
14  제주         7.96
15  충남         7.65
16  충북         7.45

In [40]:
df2 = df2.drop('지역', axis = 1)
df2

    평균 휴양 만족 점수
0          7.55
1          7.74
2          7.28
3          8.29
4          7.78
5          7.85
6          7.80
7          7.45
8          8.08
9          7.47
10         7.46
11         7.48
12         7.35
13         7.79
14         7.96
15         7.65
16         7.45

In [41]:
df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,민간 체육시설,기타 체육시설,학교체육시설,자가시설,직장체육시설,전월세전환율(%),취업률(%),대규모점포,전통시장,평균 휴양 만족 점수
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,28.0,10.9,4.1,21.7,0.5,6.2,53.5,195.2,119.8,7.55
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,39.6,19.5,1.1,1.4,0.0,4.5,62.8,58.4,69.1,7.74
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,31.0,12.0,6.7,4.6,0.0,5.2,57.4,132.8,99.5,7.28
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,20.4,34.4,7.8,6.9,0.6,6.7,57.2,182.3,132.4,8.29
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,29.2,26.2,5.4,2.0,0.0,5.6,60.2,45.4,45.7,7.78
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,29.9,22.7,10.0,2.6,2.0,5.0,82.8,41.5,29.2,7.85
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,34.3,17.4,14.0,4.5,0.0,5.1,61.0,44.8,46.5,7.80
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,30.0,22.6,5.1,0.8,1.7,4.9,48.8,39.5,29.0,7.45
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,36.8,13.6,3.1,1.6,0.4,4.4,80.1,27.4,21.2,8.08
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,47.0,20.4,6.5,4.6,0.0,6.0,52.4,64.4,78.5,7.47
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,14.4,18.2,2.8,0.0,0.0,5.1,67.7,63.7,47.9,7.46
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,39.7,29.8,1.5,4.4,0.8,5.3,72.0,57.9,61.7,7.48
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,29.5,30.6,2.9,2.9,0.0,7.5,66.9,247.7,199.2,7.35
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,20.0,23.8,7.2,3.1,0.6,6.3,64.3,146.0,110.9,7.79
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,12.1,20.7,25.1,3.6,0.0,5.3,91.8,121.3,85.8,7.96
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,32.1,15.7,12.2,6.1,0.2,6.6,56.6,164.6,143.8,7.65
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,25.6,16.3,11.5,6.8,0.5,6.8,69.2,151.3,104.8,7.45

In [42]:
df2 = pd.read_csv('./데이터 통합용/df_휴양 목적.csv')
df2

,지역,건강 증진을 위해,휴양 및 휴식을 취하기 위해,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타
0,강원,35.3,60.8,2.1,0.8,-,-,1.0
1,경기,70.5,21.8,3.1,4.0,0.1,0.5,-
2,경남,78.2,12.9,7.7,0.9,0.3,-,-
3,경북,83.0,9.1,1.4,0.8,5.1,0.6,-
4,광주,68.3,27.2,-,3.6,-,0.8,-
5,대구,88.3,8.1,-,1.7,-,1.9,-
6,대전,44.9,48.5,5.3,1.3,-,-,-
7,부산,61.9,33.8,3.7,0.3,0.3,-,-
8,서울,72.6,22.5,1.6,2.7,0.4,0.2,-
9,세종,49.3,45.5,4.2,-,-,1.0,-
10,울산,87.3,8.9,3.8,-,-,-,-
11,인천,67.6,18.6,4.9,6.7,-,-,2.2
12,전남,64.3,30.9,2.0,2.8,-,-,-
13,전북,80.6,16.5,0.4,1.0,0.7,0.7,-
14,제주,57.6,39.0,1.4,1.3,-,-,0.7
15,충남,56.4,30.1,5.1,4.6,2.6,0.6,0.6
16,충북,53.8,35.6,6.2,2.5,1.2,-,0.7

In [43]:
df2 = df2.drop('지역', axis = 1)
df2

,건강 증진을 위해,휴양 및 휴식을 취하기 위해,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타
0,35.3,60.8,2.1,0.8,-,-,1.0
1,70.5,21.8,3.1,4.0,0.1,0.5,-
2,78.2,12.9,7.7,0.9,0.3,-,-
3,83.0,9.1,1.4,0.8,5.1,0.6,-
4,68.3,27.2,-,3.6,-,0.8,-
5,88.3,8.1,-,1.7,-,1.9,-
6,44.9,48.5,5.3,1.3,-,-,-
7,61.9,33.8,3.7,0.3,0.3,-,-
8,72.6,22.5,1.6,2.7,0.4,0.2,-
9,49.3,45.5,4.2,-,-,1.0,-
10,87.3,8.9,3.8,-,-,-,-
11,67.6,18.6,4.9,6.7,-,-,2.2
12,64.3,30.9,2.0,2.8,-,-,-
13,80.6,16.5,0.4,1.0,0.7,0.7,-
14,57.6,39.0,1.4,1.3,-,-,0.7
15,56.4,30.1,5.1,4.6,2.6,0.6,0.6
16,53.8,35.6,6.2,2.5,1.2,-,0.7

In [44]:
df = pd.concat([df,df2],axis=1, join='inner')
df

,시도명,청년인구,버스터미널,철도역,공항,초등학교,중학교,고등학교,지수(점),등급,...,대규모점포,전통시장,평균 휴양 만족 점수,건강 증진을 위해,휴양 및 휴식을 취하기 위해,취미 및 레포츠 활동을 위해,친목 활동을 위해,질병 치유를 위해,교육 학습을 위해,기타
0,강원,56404,32.9,32.9,32.9,36.9,56.0,71.4,79.117219,E,...,195.2,119.8,7.55,35.3,60.8,2.1,0.8,-,-,1.0
1,경기,579851,25.0,25.0,25.0,19.2,28.5,36.5,81.262092,C,...,58.4,69.1,7.74,70.5,21.8,3.1,4.0,0.1,0.5,-
2,경남,128482,31.1,31.1,31.1,28.5,43.1,54.0,81.912194,C,...,132.8,99.5,7.28,78.2,12.9,7.7,0.9,0.3,-,-
3,경북,100105,37.7,37.7,37.7,37.1,56.6,73.5,80.057274,D,...,182.3,132.4,8.29,83.0,9.1,1.4,0.8,5.1,0.6,-
4,광주,66496,21.5,21.5,21.5,15.6,21.9,32.5,83.968337,A,...,45.4,45.7,7.78,68.3,27.2,-,3.6,-,0.8,-
5,대구,104823,18.3,18.3,18.3,16.5,23.3,32.6,81.219598,C,...,41.5,29.2,7.85,88.3,8.1,-,1.7,-,1.9,-
6,대전,64361,19.9,19.9,19.9,15.4,21.9,31.4,83.391163,B,...,44.8,46.5,7.80,44.9,48.5,5.3,1.3,-,-,-
7,부산,146114,31.5,31.5,31.5,16.0,23.9,32.6,81.987617,C,...,39.5,29.0,7.45,61.9,33.8,3.7,0.3,0.3,-,-
8,서울,489384,25.8,25.8,25.8,12.1,15.9,20.8,81.292265,C,...,27.4,21.2,8.08,72.6,22.5,1.6,2.7,0.4,0.2,-
9,세종,9617,17.5,17.5,17.5,17.4,25.1,34.5,84.951890,A,...,64.4,78.5,7.47,49.3,45.5,4.2,-,-,1.0,-
10,울산,40190,25.8,25.8,25.8,19.2,33.2,43.3,82.404533,B,...,63.7,47.9,7.46,87.3,8.9,3.8,-,-,-,-
11,인천,138568,26.4,26.4,26.4,16.7,26.1,31.1,82.617784,B,...,57.9,61.7,7.48,67.6,18.6,4.9,6.7,-,-,2.2
12,전남,71447,46.1,46.1,46.1,48.6,66.7,79.5,79.492157,D,...,247.7,199.2,7.35,64.3,30.9,2.0,2.8,-,-,-
13,전북,69075,29.4,29.4,29.4,30.0,45.4,60.7,79.799290,D,...,146.0,110.9,7.79,80.6,16.5,0.4,1.0,0.7,0.7,-
14,제주,31481,31.4,31.4,31.4,26.9,41.7,62.3,82.580625,B,...,121.3,85.8,7.96,57.6,39.0,1.4,1.3,-,-,0.7
15,충남,84970,37.0,37.0,37.0,36.5,60.9,82.9,78.036222,E,...,164.6,143.8,7.65,56.4,30.1,5.1,4.6,2.6,0.6,0.6
16,충북,60164,33.9,33.9,33.9,30.9,48.9,66.1,79.179578,D,...,151.3,104.8,7.45,53.8,35.6,6.2,2.5,1.2,-,0.7

In [45]:
df.to_csv('final.csv')